.formacao {
  background-color: #141414;
  color: white;
}

.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.formacao .subtitulo {
  color: #000000;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.faculdade {
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  margin-bottom: 40px;
  line-height: 40px;
}

.faculdade-instuticao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.cursos {
  margin-bottom: 60px;
}

.formacao-texto h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.formacao-texto li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-texto span {
  color: #8f8f8f;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formacao .subtitulo {
    font-size: 1.125rem;
  }
}
